/.vs
/bin/
/obj/
/OTUS-Algos-HW-3/bin
/OTUS-Algos-HW-3/obj
/OTUS-HW-4/bin
/OTUS-HW-4/obj
/OTUS-Algos-HW-5/obj
/OTUS-Algos-HW-5/bin
/OTUS-Algos-HW-6/bin
/OTUS-Algos-HW-6/obj
/OTUS-Algos-HW-7/bin
/OTUS-Algos-HW-7/obj
/OTUS-Algos-HW-8/artifacts
/OTUS-Algos-HW-8/bin
/OTUS-Algos-HW-8/obj
/OTUS_Algos-HW-9/bin
/OTUS_Algos-HW-9/obj
/OTUS-Algos-HW-10/bin
/OTUS-Algos-HW-10/obj
